/*Components Custom*/

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}
/*Body*/

body {
  margin:0;
  padding: 0; 
  overflow-x: hidden;
}

/*SIMPLE PAGINATION*/
.simple-pagination ul {
  padding: 0;
  list-style: none;
  text-align:center;
}

.simple-pagination li {
  display: inline-block;
  margin: 2px;
}

.simple-pagination li a, 
.simple-pagination li span {
  display: block;
  width: 40px;
  height: 40px;
  background: #fff;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow: inset 0 5px 10px rgba(0,0,0,.1), 0 2px 5px rgba(0,0,0,.2);
  transition: all 1s ease;
  border:none;
}

.simple-pagination li a:hover {
  background: #148F77;
  color: #fff;
  border:none;
}

.simple-pagination .current {
  color: white;
  background: #148F77;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.simple-pagination .prev-current,
.simple-pagination .next-current {
  background: #148F77;
  border:none;
}

/*custom-button*/
.btn-green {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #148F77;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*Home Page */
/*Header-Home*/
.header {
  width: 100%;
}

.header .nav-menu-mobile{
  position: fixed;
  top: 0;
  left: 100%;
  background: white;
  width: 80%;
  height: 100%;
  z-index: 1;
}

.header .nav-menu-mobile h2 {
  font-size: 20px;
}

.header .nav-menu-mobile ul {
  padding: 20px;
  list-style: none;
}

.header .nav-menu-mobile ul li {
  padding: 10px 0;
  font-size: 20px;
}

.header .nav-menu-mobile ul li a {
  color: #148F77;
}

.header .nav-menu-mobile ul li a:hover {
  color: #145F77;
}

.header .custom-navbar .navbar-nav {
  display: none;
}

.header .content-header {
  width: 100%;
}

.content-header .text h1{
  font-size: 32px;
  text-align: center;
}

.header img {
  display: none;
}

.bg-header {
  display: none;
}

/*Banner-Home*/
.banner {
  background: #148F77;
  opacity: .8;
  width: 100%;
}

.catalog {
  display: none;
}

.catalog-mobile {
  margin-top: 20px;
  width: 100%;
  padding: 20px;
  background: white;
  border-radius: 20px;
}

/*SEARCH BOX*/
.search-box {
  display: flex;
  background: white;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  height: 40px;
}

.search-box .search-input {
  width: 90%;
  outline: none;
  border: none;
  font-weight: 600;
}

.search-box .search-icon {
  cursor: pointer;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Card Program*/
.card-program {
  width: 100%;
  margin: 10px 30px;
  background: white;
  border-radius: 20px;
}

.card-program img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 40vh;
}
/*Footer*/
.footer-home {
  width: 100%;
  background: white;
  font-weight: bold;
}
/*END HOME PAGE*/

/*DONASI PAGE*/
/*Detail Donasi*/
.content {
  width: 100%;
} 

.content-image {
  width: 100%;
  height: 80vh;
  z-index: 1;
} 

.content-image img {
  width: 100%;
  height: 80vh;
} 

.card-programDesc {
  display: block !important;
}

.card-content {
  margin: 20px 0; 
  width: 100%;
  padding: 10px 30px;
  border-radius: 20px;
  background: #fff;
  border-left: 4px solid #148F77;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3)
} 

.card-content h1 {
  text-align: center;
  font-size: 32px;
}

.content-p {
  display: inline;
}

.card-content p {
  font-size: 16px;
  font-weight: 400;
  color: #aaa;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 3px solid #ddd;
}

.card-content span {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color: #aaa;
}

.card-content .btn-green {
    margin-top: 20px;
    font-weight: 600; 
}

.card-penggalang {
  width: 100%;
  background: white;
  border-radius: 20px;
  padding: 20px 30px;
  border-left: 4px solid #148F77;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.card-penggalang img {
  margin-right: 20px; 
  width: 105px;
  height: 85px;
  border-radius: 50%;
}

.card-penggalang p {
  font-weight: 600;
  color: #bbb;
}

.content-deskripsi {
  border-radius: 20px;
  margin-top: 20px;
  border-left: 4px solid #146F77;
  background: white;
  padding: 30px;
  width: 100%;
  overflow-y: auto; 
  height: 50vh;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.content-deskripsi h3 {
  font-size: 32px;
}

.content-deskripsi p {
  font-size: 18px;
  font-weight: 600; 
  color: #bbb;
}

.card-catatan {
  margin-top: 3em;
  margin-bottom: 2em;
  background: white;
  padding: 30px;
  width: 100%;
  height: 85vh;
  overflow-y: auto;
  border-left: 3px solid #148F77;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.content-catatan {
  margin-top: 2em; 
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: inset 5px 5px 6px #d7d7d7,
              inset -5px -5px 6px #d7d7d7;
}

.content-catatan img {
  width: 105px;
  height: 85px;
}

.desc-donatur {
  width: 100%;
}

.desc-donatur h3 {
  font-size: 20px;
  font-weight: 600;
}

.desc-donatur hr {
  height: 3px;
  background: #ddd;
}

.desc-donatur h4 {
  color: #148F77;
  font-size: 16px;
  font-weight: 500;
}

.desc-donatur p {
  letter-spacing: 2px;
  color: #bbb;
  font-size: 14px;
  font-weight: 600;
}
/*END DONASI PAGE*/



/*DASHBOARD PAGE*/
  .sidebar {
    display: none;
  }
  /*SIDEBAR ADMIN*/
  .sidebar-mobile {
    position: fixed;
    top: 0;
    left: 100%;
    width: 80%;
    height: 100%;
    padding: 20px;
    padding-top: 30px; 
    background: #fff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    z-index: 1;
  }

  .sidebar-profile {
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    box-shadow:inset 4px 4px 6px rgba(0,0,0,0.3),
               inset -4px -4px 6px rgba(0,0,0,0.3);
  }

  .sidebar-profile p {
    text-align: center;
    font-weight: 600;
  }

  .sidebar-profile p b {
    color: #148F77;
  }

  .sidebar-box {
    margin-top: 30px;
    background: white;
  }

  .sidebar-item { 
    margin-top: 20px;
    padding: 0px 10px;
    width: 50%;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.5); 
    border-radius: 20px;
    text-align: center;
  }

  .sidebar-item .sidebar-link {
    background: #fff;
    color: #ddd;
    text-decoration: none;
  }

  .sidebar-link i {
    line-height: 1.6;
    margin: 0 auto;
    font-size: 32px; 
  }

  .sidebar-link.active {
    color: #148F77;
  }

  .sidebar-link:hover {
    color: #148F77;  
  }

  .btn-sidebar-mobile {
    display: block;
    margin: 20px;
    margin-left: auto;
  }

  .close-sidebar {
    display: block;
  }

  /*MODAL DETAIL ADMIN*/
  .tab-pane {
    padding: 20px;
    height: 40vh;
    overflow-y:auto;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.2);
  }

  .img-detail {
    margin: 20px 0 auto;
    width: 100%;
  }

  .img-detail img {
    width: 100%;
    height: 30vh;
  }

  .deskripsi-program {
    margin: 20px 0;
  }


@media(min-width: 992px) {
  .bg-header {
    display: block;
    position: relative;
    width: 100%;
    height: 40vh;
    bottom: 0;
    background: url('../image/ilustrasi/wave.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .nav {
    display: flex !important;
  }

  .nav-mobile, .nav-menu-mobile {
    display: none !important;
  }

  /*Main*/
  .content-header{
    display: flex;
    margin: 40px;
  }

  .content-header .text h1 {
    font-size: 48px;
    text-align: left;
  }

  .content-header .img img {
    display: block;
  }

  .img-ilustrasi{
    width: 100%;
    height: 50vh;
  }
  /*Navbar*/
  .custom-navbar {
    z-index: 1;
    background: transparent;
  }

  .navbar-brand {
    font-family: 'poppins' sans-serif;
    font-size: 32px !important;
    color: black !important;
    font-weight: 600;
  }

  .nav-link {
    font-size: 20px;
  }

  .box-program {
    display: flex;
    margin: 0 35px;
  }

  /*Catalog*/
  .catalog {
    display: block;
    background: #fff;
    padding: 10px;
    margin-right: 40px; 
    border-radius: 10px;
  } .box-scroll {
    width: 100%;
    overflow-x: auto;
  } .scroll {
    display: flex;
    width: 840px;
  }

  .catalog-mobile {
    display: none;
  }

  /*SEARCH BOX*/
  .search-box {
    display: flex;
    background: white;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    height: 40px;
  }

  .search-box .search-input {
    width: 90%;
    outline: none;
    border: none;
    font-weight: 600;
  }

  .search-box .search-icon {
    cursor: pointer;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Banner*/
  .banner {
    background: #148F77;
    opacity: .8;
  }

  #program-home {
    display: flex !important;
  }

  /*Components Custom*/

  /*Button*/
  .btn-green {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #148F77;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .btn-green:hover {
    opacity: .9;
    color: white;
    text-decoration: none;
  }

  .btn-sidebar-mobile {
    display: none;
  }

  .close-sidebar {
    display: none;
  }

  /*Card*/
  .card-program {
    border-radius: 10px;
    width: 320px;
    margin: 20px;
    background: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5)
  }

  .card-program img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 30vh;
  }

  /*Detail Donasi*/
  .content {
    width: 100%;
  } 

  .content-image {
    width: 100%;
    height: 80vh;
    z-index: 1;
  } 

  .content-image img {
    width: 100%;
    height: 80vh;
  } 

  .card-programDesc {
    display: flex !important;
  }

  .card-content {
    position: absolute;
    bottom: 0%;
    width: 60%;
    padding: 10px 30px;
    border-radius: 20px;
    background: #fff;
    border-left: 4px solid #148F77;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3)
  } 

  .content-p {
    display: flex;
  }

  .card-content p {
    font-size: 20px;
    font-weight: 400;
    color: #aaa;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 3px solid #ddd;
  }

  .card-content span {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    color: #aaa;
  }

  .card-content .btn-green {
      margin-top: 10px;
      font-weight: 600; 
  }

  .card-penggalang {
    position: absolute;
    bottom: 0%;
    left: 70%;
    width: 21%;
    background: white;
    border-radius: 20px;
    padding: 20px 30px;
    border-left: 4px solid #148F77;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  }

  .card-penggalang img {
    margin-right: 20px; 
    width: 105px;
    height: 85px;
    border-radius: 50%;
  }

  .card-penggalang p {
    font-weight: 600;
    color: #bbb;
  }

  .content-deskripsi {
    border-radius: 20px;
    margin-top: 6em;
    border-left: 4px solid #146F77;
    background: white;
    padding: 30px;
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  }

  .content-deskripsi h3 {
    font-size: 32px;
  }

  .content-deskripsi p {
    font-size: 18px;
    font-weight: 600; 
    color: #bbb;
  }

  .card-catatan {
    margin-top: 3em;
    margin-bottom: 2em;
    background: white;
    padding: 30px;
    width: 100%;
    border-left: 3px solid #148F77;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  }

  .content-catatan {
    margin-top: 2em; 
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 5px 5px 8px #d7d7d7,
                inset -5px -5px 8px #d7d7d7;
  }

  .content-catatan img {
    width: 105px;
    height: 85px;
  }

  .desc-donatur {
    width: 100%;
  }

  .desc-donatur h3 {
    font-size: 32px;
    font-weight: 600;
  }

  .desc-donatur hr {
    height: 3px;
    background: #ddd;
  }

  .desc-donatur h4 {
    color: #148F77;
    font-size: 24px;
    font-weight: 500;
  }

  .desc-donatur p {
    letter-spacing: 2px;
    color: #bbb;
    font-size: 16px;
    font-weight: 600;
  }

  /*Nominal*/
  .box-nominal {
    width: 100%;
    height: 50vh;
    background: linear-gradient(to right, rgba(20,143,119,0.7), rgba(20,111,119,0.3));
    box-shadow: 3px 3px 3px solid #148F77;
  }

  .card-nominal {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    color: white;
    margin: 30px;
  }

  .list-nominal {
    position: absolute;
    top: 20%;
    right: 5%;
  }

  .box-nominal-lainnya {
    position: absolute;
    top: 20%;
    left: 52%;
    transform: translate(-50%);
    margin: auto;
    height: 20vh;
  }


  /*ADMIN PAGE*/
  .main-wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    background: #ddd;
    overflow: hidden;
  }

  /*SIDEBAR ADMIN*/
  .sidebar-mobile {
    display: none;
  }
  .sidebar {
    display: block;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 30px; 
    background: #fff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  }

  .sidebar-profile {
    width: 100%;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    box-shadow:inset 4px 4px 6px rgba(0,0,0,0.3),
               inset -4px -4px 6px rgba(0,0,0,0.3);
  }

  .sidebar-profile p {
    text-align: center;
    font-weight: 600;
  }

  .sidebar-profile p b {
    color: #148F77;
  }

  .sidebar-box {
    margin-top: 50px; 
    background: white;
  }

  .sidebar-item { 
    width: 100%;
    margin-top: 20px;
    padding: 0px 10px;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.5); 
    border-radius: 20px;
    text-align: center;
  }

  .sidebar-item .sidebar-link {
    background: #fff;
    color: #ddd;
    text-decoration: none;
  }

  .sidebar-link i {
    /*width: 50px;
    height: 50px;*/
    line-height: 1.6;
    margin: 0 auto;
    font-size: 32px; 
  }

  .sidebar-link.active {
    color: #148F77;
  }

  .sidebar-link:hover {
    color: #148F77;  
  }

  /*CONTENT ADMIN*/
  .content-admin {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }

  /*MODAL DETAIL ADMIN*/
  .tab-pane {
    padding: 20px;
    height: 40vh;
    overflow-y:auto;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.2);
  }

  .img-detail {
    margin: 20px 0 auto;
    width: 100%;
  }

  .img-detail img {
    width: 100%;
    height: 30vh;
  }

  .deskripsi-program {
    margin: 20px 0;
  }

  /*Footer dashboard*/
  .footer-dashboard {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

}